<nav class="navbar navbar-expand-lg" style="background-color: #8dc5ec;">
    <div class="container-fluid">      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Principal</a>
          </li>                   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Selecciones
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="lista_camisetas/todas-sel">Todas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="lista_camisetas/esp">España</a></li>
              <li><a class="dropdown-item" routerLink="lista_camisetas/mar">Marruecos</a></li>
              <li><a class="dropdown-item" routerLink="lista_camisetas/cam">Camerún</a></li>              
              <li><a class="dropdown-item" routerLink="lista_camisetas/ima">Islas Malvinas</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Clubes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="lista_camisetas/todos-club">Todos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="lista_camisetas/todos-esp">España</a></li>
              <li><a class="dropdown-item" routerLink="lista_camisetas/rma">Real Madrid</a></li>
              <li><a class="dropdown-item" routerLink="lista_camisetas/rja">Real Jaén</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="lista_camisetas/todos-ing">Inglaterra</a></li>
              <li><a class="dropdown-item" routerLink="lista_camisetas/todos-eur">Resto Europa</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="lista_camisetas/todos-mun">Resto del mundo</a></li>
            </ul>
          </li>
        </ul>        
      </div>
    </div>
  </nav>