<table class="table table-hover">
    <thead>
        <tr>
            <th colspan="2">Estadísticas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Número total de camisetas</td>
            <td class="negrita">40</td>
        </tr>
        <tr>
            <td>Número total de camisetas de selecciones</td>
            <td class="negrita">8</td>
        </tr>
        <tr>
            <td>Número total de camisetas de clubes</td>
            <td class="negrita">32</td>
        </tr>
        <tr>
            <td>Número total de camisetas de clubes españoles</td>
            <td class="negrita">13</td>
        </tr>
        <tr>
            <td>Número total de camisetas de clubes ingleses</td>
            <td class="negrita">6</td>
        </tr>
        <tr>
            <td>Número total de camisetas del resto de clubes europeos</td>
            <td class="negrita">10</td>
        </tr>
        <tr>
            <td>Número total de camisetas de clubes del resto del mundo</td>
            <td class="negrita">3</td>
        </tr>
        <tr>
            <td>Última camiseta añadida</td>
            <td class="negrita">Granada C.F. 2021/22</td>
        </tr>
    </tbody>
</table>